
.panel-select-wrapper {
    position: absolute;
    top:15px;
    right: 20px;
    font-size: 16px;
}
.panel-select-active {
    background-color: #157dba !important;
    color: #ffffff !important;
}
.real-time-panel-wrapper {
    padding: 15px;
    background-color: rgba(130,130,130);
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    height: 780px;
}

.panel-gray {
    background-color: #cccccc !important;
}
.interval {
    margin: 10px 0;
    height: 0;
}
.h100 {
    height: 100%;
}
.mb15 {
    margin-bottom: 15px;
}
.float-right {
    float: right;
}