body,p,ul{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ecf2f6;
    color: #5a5c69;
    position: relative;
}


a,
li {
    text-decoration: none;
    list-style: none;
}


input:focus,
button:focus,
select:focus {
    outline: 0;
}


button {
    border: 0;
}

button,select {
    cursor: pointer;
}